@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*css reset to remove any default settings*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif; /* set font of content in the body*/
    margin: 0.5rem; /* add a margin to the content in the body*/
    text-align: center; /*senter the text in the body to the center of the page*/
}

nav{
    border: 3px solid grey;  /*creating a border*/
    border-radius: 30px 30px 40px; /* round the edges of the border*/
    margin: 0 auto 1rem; /* add margin to the nav element */
    max-width: 600px; /*center the nav element*/
    font-size: 3rem;
}

li{
    font-weight: 100;
    line-height: 7rem;
    border-top: 1px solid #333;
    list-style-type: none;
}

h1{
    text-align: center;
    background-color: gold;
    padding: 1rem;
    border-radius: 30px 30px 0px 0px;
}

a{
    text-decoration: none; /* change text decoration of links to none */
    color: #333; /* set color of links to dark grey */
}

li a{
    display: block; /* changing the anchor tag from an inline level element to a block level element so the anchor tag will fill the entire space of the border box*/
}

li a:visited {
    color: #333; /*set color of visited links to dark grey*/
}

li a:hover,
li a:focus{
    background: #333;
    color: whitesmoke; /* set background color or links hovered over to whitesmoke*/
}

li:last-child a{
    border-radius: 0px 0px 30px 30px; /* set the radius of the last element in the list to fit the border*/
}

li a:active{
    color: gold; 
}